<h1>Editing Fertilization</h1>

<%= render 'form' %>

<%= link_to 'Delete', production_fertilization_path(@production,@fertilization),method: :delete, class:'btn btn-link' %> |
<%= link_to 'Cancel', production_fertilization_path(@production,@fertilization) %>
