<h1>Editing Pp</h1>

<%= render 'form' %>

<%= link_to 'Delete',production_pp_path(@production,@pp),method: :delete,class:'btn btn-link' %> |
<%= link_to 'Cancel', pmu_production_path(@pmu,@production) %>
