<h1>Editing Production</h1>

<%= render 'form' %>

<%= link_to 'Cancel', pmu_production_path(@pmu,@production),class:'btn btn-link'  %> |
<%= link_to 'Delete', pmu_production_path(@pmu,@production),method: :delete,data: { confirm: 'Are you sure?' },class:'btn btn-link' %>

